
/* .example-sidenav {
  background: rgb(42, 35, 90);
  background: linear-gradient(0deg, rgba(42, 35, 90, 1) 0%, rgb(67, 67, 65) 100%);
} */
body,
h1,
h2,
h3 {
  margin: 0;
}

#title {
  font-family: NeueMontrealMediumItalic;
  font-style: normal;
  color: silver;
  font-size: 35rem;
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}


.subtitle {
  font-family: NeueMontrealMediumItalic;
  font-style: normal;
  color: whitesmoke;
}

.footer {
  font-family: NeueMontrealLight;
  font-style: normal;
  font-size: 14px;
  color: lightslategray;
}

span {
  color: white;
}