<div id="vanta" class="example-sidenav-content">
    <div class="d-flex align-items-start flex-column h-75 w-100">
        <div class="mb-auto p-2 m-5">
           <header>
            <h1 id="title"></h1>
           </header>
            <h4 class="subtitle">Ingeniero en Gestión Empresarial</h4>
        </div>
        <div class="container-fluid bg-dark text-light p-1 text-start mt-3 fixed-bottom">
            <div class="row">
                <div class="col">
                    <span style="margin-left: 10px;color: lightslategray;">&copy; </span><span class="footer">Erick
                        Basurto</span>
                </div>
            </div>
        </div>

    </div>

</div>