/* @font-face {
  font-family: NeueMontrealMediumItalic;
  src: url("/assets/fonts/montreal/NeueMontreal-MediumItalic.otf") format("truetype");
}

@font-face {
  font-family: NeueMontrealMediumItalic;
  src: url("/assets/fonts/montreal/NeueMontreal-MediumItalic.otf") format("truetype");
}
 */