 <div  class="container">
	
 </div>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
		<mat-nav-list>
			<mat-list-item >
				<span class="full-width" ><h1 class="title-bk">Inicio</h1> </span>
			</mat-list-item>
			<mat-list-item >
				<span class="full-width" ><h1 class="title-bk">Experiencia</h1> </span>
			</mat-list-item>
			
		</mat-nav-list>
    <mat-nav-list>
</mat-nav-list>
	</mat-sidenav>

	<div id=vanta class="example-sidenav-content ">
		<h1 class="title">Erick Basurto</h1> 
		
	</div>

</mat-sidenav-container>
<div class="container">
	<!-- <div class="row">
	  <div class="col-sm">
		One of three columns
	  </div>
	  <div class="col-sm">
		One of three columns
	  </div>
	  <div class="col-sm">
		One of three columns
	  </div>
	</div> -->
  </div>
