.example-container {
  height:100%;
 // sborder: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}


.title {
  font-family: NeueMontrealMediumItalic;
  font-style: normal;
  color: silver;
  font-size: 45px;
}
.subtitle {
  font-family: NeueMontrealMediumItalic;
  font-style: normal;
  color: whitesmoke;
}


/* mat-toolbar{
  position:fixed;
  top:0;
  z-index: 2;
} */
/* 
mat-sidenav-container {
  height:100%;
} */

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav {
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }

  .entry{
      display: flex;
      align-items: center;
      gap: 1rem;
      padding:0.75rem;
  }
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav-content{
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
      padding-top: 4rem;
  }
}