<div >
	<p><span style="color: orange;">FLASH SALE</span>  ERICK BASURTO &nbsp;&nbsp; <img width="50px" height="50px" src="../assets/images/sale (1).png">&nbsp;&nbsp; <span style="color: orange;">  FLASH SALE</span> ERICK BASURTO &nbsp; <img width="50px" height="50px" src="../assets/images/sale (1).png">   </p>
  </div>
<mat-toolbar style="background-color: rgb(18, 18, 19);">
	<button style="color: wheat;" mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
	  <mat-icon>menu</mat-icon>
	</button>
  </mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav class="example-sidenav" [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'">
		<mat-nav-list>
			<mat-list-item (click)="toggleMenu()" *ngIf="!isCollapsed" routerLink="/">
				<span class="full-width">
					<h2  class="title">Acerca</h2>
				</span>
			</mat-list-item>
			<mat-list-item (click)="toggleMenu()" *ngIf="!isCollapsed" routerLink="/experience">
				<span class="full-width">
					<h2  class="title">Experiencia</h2>
				</span>
			</mat-list-item>
			<mat-list-item (click)="toggleMenu()" *ngIf="!isCollapsed" routerLink="Proyectos">
				<span class="full-width">
					<h1 class="title">Proyectos</h1>
				</span>
			</mat-list-item>

		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content style="overflow: hidden;width: 100%;height: 100%;margin: 0;padding: 0;">
		<router-outlet></router-outlet>
	 
	</mat-sidenav-content>
  </mat-sidenav-container>